In [1]:
import pandas as pd
import numpy as np

In [2]:
epl=pd.read_csv("C:/Users/ASUS/Desktop/DS SM/ML/Project/eplmatches.csv")
epl

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A

In [3]:
away=epl.iloc[:,[6,5]]
away

                  Away  AwayGoals
0        Middlesbrough          1
1            Wimbledon          1
2       Manchester Utd          1
3            Blackburn          3
4         Norwich City          4
...                ...        ...
11641           Wolves          1
11642  Manchester City          4
11643        Tottenham          0
11644   Leicester City          2
11645        Liverpool          5

[11646 rows x 2 columns]

In [4]:
a=away.groupby(away.Away).sum()
a

                 AwayGoals
Away
Arsenal                863
Aston Villa            581
Barnsley                12
Birmingham City        111
Blackburn              382
Blackpool               25
Bolton                 256
Bournemouth            105
Bradford City           22
Brentford               26
Brighton                86
Burnley                139
Cardiff City            25
Charlton Ath           143
Chelsea                852
Coventry City          168
Crystal Palace         276
Derby County           114
Everton                610
Fulham                 251
Huddersfield            24
Hull City               74
Ipswich Town            94
Leeds United           341
Leicester City         385
Liverpool              865
Manchester City        701
Manchester Utd         971
Middlesbrough          255
Newcastle Utd          546
Norwich City           174
Nott'ham Forest        114
Oldham Athletic         38
Portsmouth             108
QPR                    145
Reading                 65
Sheffield Utd           70
Sheffield Weds         175
Southampton            450
Stoke City             150
Sunderland             276
Swansea City           127
Swindon Town            22
Tottenham              750
Watford                130
West Brom              215
West Ham               505
Wigan Athletic         147
Wimbledon              166
Wolves                 147

In [5]:
#clubs who scored most away goals
a.sort_values(by='AwayGoals',ascending=False)

                 AwayGoals
Away
Manchester Utd         971
Liverpool              865
Arsenal                863
Chelsea                852
Tottenham              750
Manchester City        701
Everton                610
Aston Villa            581
Newcastle Utd          546
West Ham               505
Southampton            450
Leicester City         385
Blackburn              382
Leeds United           341
Crystal Palace         276
Sunderland             276
Bolton                 256
Middlesbrough          255
Fulham                 251
West Brom              215
Sheffield Weds         175
Norwich City           174
Coventry City          168
Wimbledon              166
Stoke City             150
Wigan Athletic         147
Wolves                 147
QPR                    145
Charlton Ath           143
Burnley                139
Watford                130
Swansea City           127
Nott'ham Forest        114
Derby County           114
Birmingham City        111
Portsmouth             108
Bournemouth            105
Ipswich Town            94
Brighton                86
Hull City               74
Sheffield Utd           70
Reading                 65
Oldham Athletic         38
Brentford               26
Cardiff City            25
Blackpool               25
Huddersfield            24
Swindon Town            22
Bradford City           22
Barnsley                12

In [6]:
awaycon=epl.iloc[:,[6,4]]
awaycon

                  Away  HomeGoals
0        Middlesbrough          2
1            Wimbledon          2
2       Manchester Utd          2
3            Blackburn          3
4         Norwich City          2
...                ...        ...
11641           Wolves          1
11642  Manchester City          1
11643        Tottenham          1
11644   Leicester City          1
11645        Liverpool          0

[11646 rows x 2 columns]

In [7]:
c=awaycon.groupby(awaycon.Away).sum()
c

                 HomeGoals
Away
Arsenal                659
Aston Villa            776
Barnsley                47
Birmingham City        220
Blackburn              526
Blackpool               41
Bolton                 432
Bournemouth            182
Bradford City           80
Brentford               35
Brighton               133
Burnley                260
Cardiff City            70
Charlton Ath           244
Chelsea                640
Coventry City          291
Crystal Palace         403
Derby County           243
Everton                841
Fulham                 468
Huddersfield            78
Hull City              178
Ipswich Town           185
Leeds United           416
Leicester City         479
Liverpool              689
Manchester City        610
Manchester Utd         638
Middlesbrough          439
Newcastle Utd          826
Norwich City           390
Nott'ham Forest        169
Oldham Athletic         79
Portsmouth             221
QPR                    241
Reading                108
Sheffield Utd          165
Sheffield Weds         266
Southampton            740
Stoke City             312
Sunderland             533
Swansea City           213
Swindon Town            55
Tottenham              820
Watford                282
West Brom              411
West Ham               794
Wigan Athletic         267
Wimbledon              274
Wolves                 242

In [8]:
#Clubs monceded most away goals
c.sort_values(by='HomeGoals',ascending=False)

                 HomeGoals
Away
Everton                841
Newcastle Utd          826
Tottenham              820
West Ham               794
Aston Villa            776
Southampton            740
Liverpool              689
Arsenal                659
Chelsea                640
Manchester Utd         638
Manchester City        610
Sunderland             533
Blackburn              526
Leicester City         479
Fulham                 468
Middlesbrough          439
Bolton                 432
Leeds United           416
West Brom              411
Crystal Palace         403
Norwich City           390
Stoke City             312
Coventry City          291
Watford                282
Wimbledon              274
Wigan Athletic         267
Sheffield Weds         266
Burnley                260
Charlton Ath           244
Derby County           243
Wolves                 242
QPR                    241
Portsmouth             221
Birmingham City        220
Swansea City           213
Ipswich Town           185
Bournemouth            182
Hull City              178
Nott'ham Forest        169
Sheffield Utd          165
Brighton               133
Reading                108
Bradford City           80
Oldham Athletic         79
Huddersfield            78
Cardiff City            70
Swindon Town            55
Barnsley                47
Blackpool               41
Brentford               35