In [1]:
import pandas as pd
import numpy as np

In [2]:
epl=pd.read_csv("C:/Users/ASUS/Desktop/DS SM/ML/Project/eplmatches.csv")
epl

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A

In [3]:
home=epl.iloc[:,[3,4]]
home

                 Home  HomeGoals
0       Coventry City          2
1        Leeds United          2
2       Sheffield Utd          2
3      Crystal Palace          3
4             Arsenal          2
...               ...        ...
11641    Leeds United          1
11642        Brighton          1
11643        West Ham          1
11644       Brentford          1
11645  Manchester Utd          0

[11646 rows x 2 columns]

In [4]:
pd.crosstab(home.Home,home.HomeGoals)

HomeGoals          0    1    2    3   4   5   6  7  8  9
Home
Arsenal           81  150  161  102  48  24   6  4  0  0
Aston Villa      147  180  114   50  19   6   1  2  0  0
Barnsley           5    5    8    0   1   0   0  0  0  0
Birmingham City   40   44   35    9   4   1   0  0  0  0
Blackburn         80  111   81   49  18   5   0  4  0  0
Blackpool          1    9    7    1   1   0   0  0  0  0
Bolton            70   86   58   18  12   3   0  0  0  0
Bournemouth       24   31   24    9   6   0   1  0  0  0
Bradford City     11   14    8    4   1   0   0  0  0  0
Brentford          6    6    5    2   0   0   0  0  0  0
Brighton          31   38   14   10   2   0   0  0  0  0
Burnley           43   73   23   10   3   0   0  0  0  0
Cardiff City      15   10    9    3   1   0   0  0  0  0
Charlton Ath      42   50   40   12   7   1   0  0  0  0
Chelsea           78  167  171   79  52  15   8  4  2  0
Coventry City     53   63   39   12   8   2   0  0  0  0
Crystal Palace    88   93   42   21   4   3   0  0  0  0
Derby County      47   38   29   15   4   0   0  0  0  0
Everton          128  184  154   71  27   6   4  2  0  0
Fulham            75   96   76   29   3   3   3  0  0  0
Huddersfield      17   18    2    0   1   0   0  0  0  0
Hull City         32   30   26    5   1   0   1  0  0  0
Ipswich Town      26   40   24    8   2   1   0  0  0  0
Leeds United      72   79   62   40  15   3   1  0  0  0
Leicester City    77   98   80   32  14   5   0  0  0  0
Liverpool         85  145  157   97  62  23   6  1  0  0
Manchester City   92  121  106   84  37  27  10  3  1  0
Manchester Utd    74  141  159  109  60  21   6  3  1  2
Middlesbrough     81   92   70   25  13   4   1  0  1  0
Newcastle Utd    107  170  125   77  21  10   4  2  1  0
Norwich City      56   73   43   15   9   0   0  0  0  0
Nott'ham Forest   28   42   17    9   3   0   0  0  0  0
Oldham Athletic   11   13    9    3   4   1   1  0  0  0
Portsmouth        37   46   28   12   7   1   1  1  0  0
QPR               31   51   33   20   3   1   0  0  0  0
Reading           19   17   12    8   0   0   1  0  0  0
Sheffield Utd     27   41   21    8   1   0   1  0  0  0
Sheffield Weds    42   54   27   23   4   7   1  0  0  0
Southampton      110  147  109   54  19   1   2  0  1  0
Stoke City        45   70   52   20   2   0   1  0  0  0
Sunderland        94  122   60   19   8   1   0  0  0  0
Swansea City      37   44   28   18   5   1   0  0  0  0
Swindon Town       6    7    6    2   0   0   0  0  0  0
Tottenham        108  180  142   83  40  20   1  1  0  1
Watford           44   57   34   13   4   0   0  0  0  0
West Brom         71   92   56   22   5   1   0  0  0  0
West Ham         112  166  128   68  17   6   1  0  0  0
Wigan Athletic    49   60   26   12   4   1   0  0  0  0
Wimbledon         35   61   40   13   7   2   0  0  0  0
Wolves            47   48   42   11   4   0   0  0  0  0

In [5]:
a=home.groupby(home.Home).sum()
a

                 HomeGoals
Home
Arsenal               1154
Aston Villa            684
Barnsley                25
Birmingham City        162
Blackburn              545
Blackpool               30
Bolton                 319
Bournemouth            136
Bradford City           46
Brentford               22
Brighton               104
Burnley                161
Cardiff City            41
Charlton Ath           199
Chelsea               1121
Coventry City          219
Crystal Palace         271
Derby County           157
Everton                881
Fulham                 380
Huddersfield            26
Hull City              107
Ipswich Town           125
Leeds United           404
Leicester City         435
Liverpool             1156
Manchester City        957
Manchester Utd        1214
Middlesbrough          393
Newcastle Utd          831
Norwich City           240
Nott'ham Forest        115
Oldham Athletic         67
Portsmouth             184
QPR                    194
Reading                 71
Sheffield Utd          117
Sheffield Weds         234
Southampton            628
Stoke City             248
Sunderland             336
Swansea City           179
Swindon Town            25
Tottenham              995
Watford                180
West Brom              295
West Ham               730
Wigan Athletic         169
Wimbledon              218
Wolves                 181

In [6]:
# Clubs with most home goals
a.sort_values(by='HomeGoals',ascending=False)

                 HomeGoals
Home
Manchester Utd        1214
Liverpool             1156
Arsenal               1154
Chelsea               1121
Tottenham              995
Manchester City        957
Everton                881
Newcastle Utd          831
West Ham               730
Aston Villa            684
Southampton            628
Blackburn              545
Leicester City         435
Leeds United           404
Middlesbrough          393
Fulham                 380
Sunderland             336
Bolton                 319
West Brom              295
Crystal Palace         271
Stoke City             248
Norwich City           240
Sheffield Weds         234
Coventry City          219
Wimbledon              218
Charlton Ath           199
QPR                    194
Portsmouth             184
Wolves                 181
Watford                180
Swansea City           179
Wigan Athletic         169
Birmingham City        162
Burnley                161
Derby County           157
Bournemouth            136
Ipswich Town           125
Sheffield Utd          117
Nott'ham Forest        115
Hull City              107
Brighton               104
Reading                 71
Oldham Athletic         67
Bradford City           46
Cardiff City            41
Blackpool               30
Huddersfield            26
Swindon Town            25
Barnsley                25
Brentford               22

In [7]:
away=epl.iloc[:,[3,5]]
away

                 Home  AwayGoals
0       Coventry City          1
1        Leeds United          1
2       Sheffield Utd          1
3      Crystal Palace          3
4             Arsenal          4
...               ...        ...
11641    Leeds United          1
11642        Brighton          4
11643        West Ham          0
11644       Brentford          2
11645  Manchester Utd          5

[11646 rows x 2 columns]

In [8]:
c=away.groupby(away.Home).sum()
c

                 AwayGoals
Home
Arsenal                489
Aston Villa            577
Barnsley                35
Birmingham City        140
Blackburn              381
Blackpool               37
Bolton                 313
Bournemouth            148
Bradford City           58
Brentford               21
Brighton               125
Burnley                195
Cardiff City            73
Charlton Ath           198
Chelsea                485
Coventry City          199
Crystal Palace         323
Derby County           177
Everton                640
Fulham                 363
Huddersfield            56
Hull City              145
Ipswich Town           127
Leeds United           290
Leicester City         389
Liverpool              458
Manchester City        458
Manchester Utd         428
Middlesbrough          355
Newcastle Utd          591
Norwich City           279
Nott'ham Forest        118
Oldham Athletic         63
Portsmouth             159
QPR                    190
Reading                 78
Sheffield Utd          105
Sheffield Weds         187
Southampton            542
Stoke City             213
Sunderland             371
Swansea City           170
Swindon Town            45
Tottenham              618
Watford                236
West Brom              361
West Ham               635
Wigan Athletic         215
Wimbledon              198
Wolves                 220

In [9]:
#clubs conceded more goals at home
c.sort_values(by='AwayGoals',ascending=False)

                 AwayGoals
Home
Everton                640
West Ham               635
Tottenham              618
Newcastle Utd          591
Aston Villa            577
Southampton            542
Arsenal                489
Chelsea                485
Manchester City        458
Liverpool              458
Manchester Utd         428
Leicester City         389
Blackburn              381
Sunderland             371
Fulham                 363
West Brom              361
Middlesbrough          355
Crystal Palace         323
Bolton                 313
Leeds United           290
Norwich City           279
Watford                236
Wolves                 220
Wigan Athletic         215
Stoke City             213
Coventry City          199
Wimbledon              198
Charlton Ath           198
Burnley                195
QPR                    190
Sheffield Weds         187
Derby County           177
Swansea City           170
Portsmouth             159
Bournemouth            148
Hull City              145
Birmingham City        140
Ipswich Town           127
Brighton               125
Nott'ham Forest        118
Sheffield Utd          105
Reading                 78
Cardiff City            73
Oldham Athletic         63
Bradford City           58
Huddersfield            56
Swindon Town            45
Blackpool               37
Barnsley                35
Brentford               21