In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
epl=pd.read_csv("C:/Users/ASUS/Desktop/DS SM/ML/Project/eplmatches.csv")
epl

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
11641,2022,9,2021-10-23,Leeds United,1,1,Wolves,D
11642,2022,9,2021-10-23,Brighton,1,4,Manchester City,A
11643,2022,9,2021-10-24,West Ham,1,0,Tottenham,H
11644,2022,9,2021-10-24,Brentford,1,2,Leicester City,A
11645,2022,9,2021-10-24,Manchester Utd,0,5,Liverpool,A

In [3]:
Hometeams=epl.iloc[:,[3,7]]
Hometeams

                 Home FTR
0       Coventry City   H
1        Leeds United   H
2       Sheffield Utd   H
3      Crystal Palace   D
4             Arsenal   A
...               ...  ..
11641    Leeds United   D
11642        Brighton   A
11643        West Ham   H
11644       Brentford   A
11645  Manchester Utd   A

[11646 rows x 2 columns]

In [4]:
a=pd.crosstab(Hometeams.Home,Hometeams.FTR)
a

FTR                A    D    H
Home
Arsenal           77  131  368
Aston Villa      160  151  208
Barnsley           8    4    7
Birmingham City   37   46   50
Blackburn         94   85  169
Blackpool          9    5    5
Bolton            79   75   93
Bournemouth       36   25   34
Bradford City     13   15   10
Brentford          9    3    7
Brighton          32   36   27
Burnley           62   38   52
Cardiff City      20    7   11
Charlton Ath      54   40   58
Chelsea           79  143  354
Coventry City     56   56   65
Crystal Palace   110   64   77
Derby County      50   35   48
Everton          155  154  267
Fulham           102   63  120
Huddersfield      22    8    8
Hull City         42   24   29
Ipswich Town      37   29   35
Leeds United      71   71  130
Leicester City    97   84  125
Liverpool         76  137  363
Manchester City  104   97  280
Manchester Utd    64  110  402
Middlesbrough     93   84  110
Newcastle Utd    136  128  253
Norwich City      72   58   66
Nott'ham Forest   32   32   35
Oldham Athletic   13   14   15
Portsmouth        45   34   54
QPR               50   38   51
Reading           22   12   23
Sheffield Utd     35   26   38
Sheffield Weds    45   50   63
Southampton      141  124  178
Stoke City        55   54   81
Sunderland       119   87   98
Swansea City      45   37   51
Swindon Town      10    7    4
Tottenham        133  132  311
Watford           67   40   45
West Brom        105   66   76
West Ham         158  124  216
Wigan Athletic    59   45   48
Wimbledon         50   46   62
Wolves            61   36   55

In [5]:
#Home team with most win
Hometeams[Hometeams['FTR']=='H'].value_counts()

Home             FTR
Manchester Utd   H      402
Arsenal          H      368
Liverpool        H      363
Chelsea          H      354
Tottenham        H      311
Manchester City  H      280
Everton          H      267
Newcastle Utd    H      253
West Ham         H      216
Aston Villa      H      208
Southampton      H      178
Blackburn        H      169
Leeds United     H      130
Leicester City   H      125
Fulham           H      120
Middlesbrough    H      110
Sunderland       H       98
Bolton           H       93
Stoke City       H       81
Crystal Palace   H       77
West Brom        H       76
Norwich City     H       66
Coventry City    H       65
Sheffield Weds   H       63
Wimbledon        H       62
Charlton Ath     H       58
Wolves           H       55
Portsmouth       H       54
Burnley          H       52
QPR              H       51
Swansea City     H       51
Birmingham City  H       50
Wigan Athletic   H       48
Derby County     H       48
Watford          H       45
Sheffield Utd    H       38
Nott'ham Forest  H       35
Ipswich Town     H       35
Bournemouth      H       34
Hull City        H       29
Brighton         H       27
Reading          H       23
Oldham Athletic  H       15
Cardiff City     H       11
Bradford City    H       10
Huddersfield     H        8
Brentford        H        7
Barnsley         H        7
Blackpool        H        5
Swindon Town     H        4
dtype: int64

In [6]:
#Home team with most loss
Hometeams[Hometeams['FTR']=='A'].value_counts()

Home             FTR
Aston Villa      A      160
West Ham         A      158
Everton          A      155
Southampton      A      141
Newcastle Utd    A      136
Tottenham        A      133
Sunderland       A      119
Crystal Palace   A      110
West Brom        A      105
Manchester City  A      104
Fulham           A      102
Leicester City   A       97
Blackburn        A       94
Middlesbrough    A       93
Bolton           A       79
Chelsea          A       79
Arsenal          A       77
Liverpool        A       76
Norwich City     A       72
Leeds United     A       71
Watford          A       67
Manchester Utd   A       64
Burnley          A       62
Wolves           A       61
Wigan Athletic   A       59
Coventry City    A       56
Stoke City       A       55
Charlton Ath     A       54
Wimbledon        A       50
Derby County     A       50
QPR              A       50
Sheffield Weds   A       45
Portsmouth       A       45
Swansea City     A       45
Hull City        A       42
Birmingham City  A       37
Ipswich Town     A       37
Bournemouth      A       36
Sheffield Utd    A       35
Nott'ham Forest  A       32
Brighton         A       32
Reading          A       22
Huddersfield     A       22
Cardiff City     A       20
Bradford City    A       13
Oldham Athletic  A       13
Swindon Town     A       10
Blackpool        A        9
Brentford        A        9
Barnsley         A        8
dtype: int64

In [7]:
#Home team with most draw
Hometeams[Hometeams['FTR']=='D'].value_counts()

Home             FTR
Everton          D      154
Aston Villa      D      151
Chelsea          D      143
Liverpool        D      137
Tottenham        D      132
Arsenal          D      131
Newcastle Utd    D      128
West Ham         D      124
Southampton      D      124
Manchester Utd   D      110
Manchester City  D       97
Sunderland       D       87
Blackburn        D       85
Middlesbrough    D       84
Leicester City   D       84
Bolton           D       75
Leeds United     D       71
West Brom        D       66
Crystal Palace   D       64
Fulham           D       63
Norwich City     D       58
Coventry City    D       56
Stoke City       D       54
Sheffield Weds   D       50
Birmingham City  D       46
Wimbledon        D       46
Wigan Athletic   D       45
Charlton Ath     D       40
Watford          D       40
QPR              D       38
Burnley          D       38
Swansea City     D       37
Brighton         D       36
Wolves           D       36
Derby County     D       35
Portsmouth       D       34
Nott'ham Forest  D       32
Ipswich Town     D       29
Sheffield Utd    D       26
Bournemouth      D       25
Hull City        D       24
Bradford City    D       15
Oldham Athletic  D       14
Reading          D       12
Huddersfield     D        8
Cardiff City     D        7
Swindon Town     D        7
Blackpool        D        5
Barnsley         D        4
Brentford        D        3
dtype: int64